@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@layer base {
  html, body {
    font-family: "Inter", sans-serif;
  }
}
@keyframes underline {
  0% { transform: scaleX(0) }
  100% { transform: scaleX(1) }
}

@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

.animate-underline {
  animation: underline 1.5s ease-out forwards;
}

.animate-typewriter {
  animation: typewriter 1s steps(20) forwards;
}

